.elevation-1, .pagination{
  position: absolute;
  left: 50%;
}

.elevation-1{
  top: 60%;
  transform: translate(-50%,-60%);
}

.table__overflow{
  width: 90% !important;
}

.pagination{
  top: 90%;
  transform: translate(-50%,-90%);
}

#empty{
  color: indianred;
}

button.primary{
  background-color: white !important;
  color: #424242 !important;
  border-color: #424242 !important;
}

